table{
	height:100vh;
	width: 100vw;
	border-collapse: collapse;
}

.red{
background-color:red;
	
}

.blue{
background-color:blue;
	
}

.green{
background-color: green;
	
}

.yellow{
background-color:yellow;
	
}

h1{
text-align:center;
}
